@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
@import '../../styles/_variables.scss';

.header__container {  
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 600px;
    height:600px;
    color: #fff;
    padding: 20px;
    background-color: $color-primary-0;
}
.wewe{
    margin-right: 15px;
}
.chagingWord {
    margin-left: 5px;
}
.header__logo {
    font-size: 56px;
    font-family: 'Orbitron', sans-serif;
    margin:30px;
}

.header__content{
    font-size: 40px;
    margin-top:40px;
    margin-left:35%;
    margin-bottom: 40px;
    display:flex;
}

  
